/* Universal */

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
}

.grid-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  align-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Typography */

h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
  line-height: 1.2;
  letter-spacing: 1px;
}

h6 {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
}

/* Header Section */

.top-bar {
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  background-color: black;
  opacity: 0.8;
  color: aliceblue;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.logo {
  padding: 1rem;
  grid-column: 1 / 3;
  text-align: center;
}

.desktop {
  grid-column: 4 / -1;
}

.desktop li {
  display: inline-block;
}

.mobile {
  display: none;
}

/* Banner Section */

.banner {
  grid-template-rows: repeat(9, 1fr);
}

.banner .image {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.banner .image img {
  max-width: 100%;
}

.content {
  grid-row: 2 / 4;
  grid-column: 4 / span 6;
  text-align: center;
  text-transform: uppercase;
  flex-direction: column;
}

/* Testimonial Section */

.testimonial {
  padding: 2rem 1rem;
  grid-template-rows: 3rem repeat(3, 1fr);
}

.card {
  padding: 0.5rem;
  background-color: blanchedalmond;
  border-radius: 10px;
  grid-row: 2 / 5;
  flex-direction: column;
}

.card h6 {
  align-self: flex-end;
}

#one {
  grid-column: 1 / span 6;
}

#two {
  grid-column: 7 / span 6;
}

/* Gallery Section */

.gallery {
  padding: 2rem 1rem;
  grid-template-rows: 3rem 1fr 1fr;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

#left {
  grid-row: 2 / -1;
  grid-column: 1 / 5;
}

#top {
  grid-row: 2 / 2;
  grid-column: 5 / 9;
}

#bottom {
  grid-row: 3 / -1;
  grid-column: 5 / 9;
}

#right {
  grid-row: 2 / -1;
  grid-column: 9 / -1;
}

.photo {
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

.photo img {
  max-width: 100%;
}

/* Join-Us Section */

.join-us {
  padding: 2rem 1rem;
  grid-template-rows: 3rem 1fr;
}

.events {
  padding: 2rem 1rem 1rem 1rem;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  flex-wrap: wrap;
}

.events img {
  max-width: 30%;
}

.info {
  height: 10rem;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  flex-wrap: wrap;
}

.info p {
  margin: 2rem auto;
  flex-basis: 100%;
  text-align: center;
}

.btn {
  height: 3rem;
  width: 8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: bisque;
  border: 0;
  border-radius: 20px;
  box-shadow: 2px 2px 25px black;
}

/* Footer Section */
footer {
  padding: 2rem 1rem 1rem 1rem;
  grid-template-rows: 4rem 2rem;
}

.contact {
  grid-row: 1 / 2;
  grid-column: 5 / 9;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.copyright {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
  justify-content: flex-start;
}

.credit {
  grid-row: 2 / 3;
  grid-column: 7 / -1;
  justify-content: flex-end;
}
