/* Universal */

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #272343;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  align-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

hr {
  margin: 0 auto;
  width: 15%;
  border-width: 0 0 10px 0;
  border-style: dotted;
  border-color: #bae8e8;
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Typography */

h1 {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  margin: 1rem 0 2rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  font-size: 0.9rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #e3f6f5;
}

h6 {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
}

/* Header Section */

.top-bar {
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  background-color: black;
  opacity: 0.8;
  color: #dfdfdf;
  text-transform: uppercase;
}

.logo {
  padding: 1rem;
  grid-column: 1 / 3;
  text-align: center;
}

.logo h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.logo span {
  font-weight: 300;
}

.desktop {
  grid-column: 4 / -1;
}

.desktop li {
  display: inline-block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile {
    padding-left: 1.5rem;
    display: inline-block;
    grid-column: -3 / -1;
    align-self: center;
  }

  .desktop {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .mobile {
    grid-column: -2 / -1;
  }
}

/* Banner Section */

.banner .image {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.banner .image img {
  max-width: 100%;
}

.content {
  padding: 0.75rem;
  background-color: black;
  opacity: 0.7;
  color: #dfdfdf;
  grid-row: 1 / -1;
  grid-column: 4 / span 6;
  text-align: center;
  text-transform: uppercase;
  flex-direction: column;
  align-self: center;
}

@media only screen and (max-width: 450px) {
  .content {
    grid-area: 1 / 2 / -1 / -2;
  }
}

/* Testimonial Section */

.testimonial {
  padding: 3rem 1rem;
  grid-template-rows: 6rem repeat(3, 1fr);
}

.card {
  padding: 1rem;
  background-color: #e3f6f5;
  border-radius: 10px;
  grid-row: 2 / 5;
  flex-direction: column;
}

.card p,
h6 {
  color: #272343;
}

.card h6 {
  align-self: flex-end;
}

#one {
  grid-column: 1 / span 6;
}

#two {
  grid-column: 7 / span 6;
}

@media only screen and (max-width: 450px) {
  .testimonial {
    grid-template-rows: 3rem 1fr 1fr;
    row-gap: 1rem;
  }

  #one {
    grid-area: 2 / 1 / 3 / -1;
  }

  #two {
    grid-area: 3 / 1 / -1 / -1;
  }
}

/* Gallery Section */

.gallery {
  padding: 2rem 1rem 3rem 1rem;
  grid-template-rows: 6rem 1fr 1fr;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

#left {
  grid-row: 2 / -1;
  grid-column: 1 / 5;
}

#top {
  grid-row: 2 / 2;
  grid-column: 5 / 9;
}

#bottom {
  grid-row: 3 / -1;
  grid-column: 5 / 9;
}

#right {
  grid-row: 2 / -1;
  grid-column: 9 / -1;
}

.photo {
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

.photo img {
  max-width: 100%;
}

@media only screen and (max-width: 450px) {
  .gallery {
    grid-template-rows: 3rem repeat(3, 1fr);
  }

  #left {
    grid-area: 2 / 1 / 3 / 3;
  }

  #right {
    grid-area: 2 / 3 / 3 / 5;
  }

  #top {
    grid-area: 3 / 1 / 4 / -1;
  }

  #bottom {
    grid-area: 4 / 1 / -1 / -1;
  }
}

/* Join-Us Section */

.join-us {
  padding: 2rem 1rem;
  grid-template-rows: 6rem 1fr;
}

.events {
  padding: 0 1rem 1rem 1rem;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  flex-wrap: wrap;
}

.events img {
  max-width: 30%;
}

.info {
  height: 10rem;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  flex-wrap: wrap;
}

.info p {
  margin: 2rem auto;
  flex-basis: 100%;
  text-align: center;
}

.btn {
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #fd5e53;
  color: #21bf73;
  border: 0;
  border-radius: 20px;
  box-shadow: 2px 2px 25px black;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #21bf73;
  color: #fd5e53;
}

@media only screen and (max-width: 450px) {
  .events {
    flex-direction: column;
  }

  .events img {
    max-width: 100%;
  }

  #middle {
    margin: 1rem 0;
  }
}

/* Footer Section */
footer {
  padding: 2rem 1rem 1rem 1rem;
  grid-template-rows: 4rem 2rem 2rem;
  row-gap: 1rem;
  justify-content: center;
}

.contact {
  grid-row: 1 / 2;
  grid-column: 5 / 9;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.social {
  grid-area: 2 / 6 / 3 / 8;
  justify-content: space-evenly;
}

.copyright {
  grid-row: 3 / 4;
  grid-column: 1 / 7;
  justify-content: flex-start;
}

.credit {
  grid-row: 3 / 4;
  grid-column: 7 / -1;
  justify-content: flex-end;
}

@media only screen and (max-width: 450px) {
  footer {
    grid-template-rows: 4rem 2rem 2rem 2rem;
  }

  .contact,
  .copyright,
  .credit {
    grid-column: 1 / -1;
  }

  .social {
    width: 50%;
    grid-column: 2 / 4;
    justify-self: center;
  }

  .copyright,
  .credit {
    justify-content: center;
    text-align: center;
  }

  .credit {
    grid-row: 4 / -1;
  }
}
