/* Universal */
html {
  margin: 0 auto;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }

  .mobile {
    display: inline-block;
  }

  .desktop {
    display: none;
  }
}

/* Typography */
h1,
h3,
h4,
li {
  text-transform: uppercase;
}

h1,
h3 {
  font-weight: 700;
}

h1 {
  margin: 2rem auto;
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

/* Header Section */
header {
  padding: 1rem 0.5rem;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  align-content: center;
}

header h3 {
  padding-left: 2rem;
  grid-column: 1 / 2;
}

h3 span {
  font-weight: 400;
}

header nav {
  padding: 0 1rem;
  grid-column: 2 / 3;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  margin: 0 0.75rem;
  font-size: 1.2rem;
  display: inline-block;
}

@media only screen and (max-width: 450px) {
  header {
    grid-template-columns: 1fr 40px;
  }

  header div {
    justify-self: center;
    align-self: center;
  }
}
/* Banner Section */
.banner {
  padding-top: 4rem;
  height: 100vh;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  text-align: center;
}
